<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
 		<meta name="description" content="Résumé for ${ person.name.given } ${ person.name.family }, ${ person.tagline }">
 		<meta name="author" content="${ person.name.given } ${ person.name.family } &lt;${ person.email }&gt;">
 		<!--<link rel="icon" href="../../favicon.ico">-->
	 	<title>${ person.name.given } ${ person.name.family }</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/cv.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	 	<![endif]-->
	</head>
	<body>
	 	<div class="container">
			<header class="media">
				<div class="media-body">
					<h1>${ person.name.given } ${ person.name.family }</h1>
					<p class="lead">${ person.tagline }</p>
				</div>
				<div class="media-right">
					<img src="images/portrait.jpg" width="100" height="162" alt="portrait">
				</div>
			</header>
			<section id="contact">
				<h2>Contact</h2>
				<address class="content">
					<span class="address">
						<span class="locality">${ person.address.locality }</span>,
						<span class="region">${ person.address.region }</span>
					</span>
					<span class="website hidden-xs">
						<em>${ person.website }</em>
					</span>
					<span class="email">
						<a href="mailto:${ person.email }">
							<em>${ person.email }</em>
						</a>
					</span>
				</address>
			</section>
			<section id="objective">
				<h2>Expertise</h2>
				<div class="content">
					<p>${ objective }</p>
				</div>
			</section>
			<section id="experience">
				<h2>Work Experience</h2>
				<div class="content">
					<% _.forEach(experience, function(item) { %>
					<div class="item">
						<div class="main">
							<% if (item.organization) { %>
							<span class="title">${ item.title }</span>
							<span class="organization">${ item.organization }</span>
							<% } else {%>
							<span class="title no-organization">${ item.title }</span>
							<% } %>
							<span class="location">${ item.location }</span>
							<span class="months">${ item.months.join('–') }</span>
						</div>
						<% if (item.responsibilities) { %>
							<ul class="responsibilities list-unstyled">
							<% _.forEach(item.responsibilities, function(responsibility) { %>
							<li>${ responsibility }</li>
							<% }); %>
						</ul>
						<% } %>
						<% if (item.technologies) { %>
						<div class="technologies">
							<span class="header">Technologies</span>: <% _.forEach(item.technologies, function(technology, index) { %><% if (index) { %>, <% }%>${ technology }<% }); %>
						</div>
						<% } %>
					</div>
					<% }); %>
				</div>
			</section>
			<section id="samples">
				<h2>Code Samples</h2>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Language</th>
							<th>Project</th>
							<th>Sample</th>
						</tr>
						<% _.forEach(samples, function(item) { %>
						<tr class="item">
							<td class="language">${ item.language }</td>
							<td class="project">
								<a href="${ item.project.url }">
									<em>${ item.project.name }</em>
								</a>
							</td>
							<td class="code">
								<a href="${ item.code.url }">
									<em>${ item.code.name }</em>
								</a>
							</td>
						</tr>
						<% }); %>
					</table>
				</div>
			</section>
			<section id="projects">
				<h2>Projects</h2>
				<div>
					<% _.forEach(projects, function(item) { %>
					<div class="item">
						<h3>
							<a class="name" href="${ item.url }">${ item.name }</a>
							<small class="type">${ item.type }</small>
						</h3>
						<p class="description">${ item.description }</p>
						<ul class="components">
							<% _.forEach(item.components, function(component) { %>
							<li>
								<a href="${ component.url }">${ component.name }</a>
							</li>
							<% }); %>
						</ul>
						<div>
							<strong>Technologies Used</strong>
							&emsp;
							<ul class="technologies list-inline" style="display: inline">
								<% _.forEach(item.technologies, function(technology) { %>
								<li>${ technology }</li>
								<% }); %>
							</ul>
						</div>
						<% if (item.footnote) { %>
						<small class="footnote">* ${ item.footnote }</small>
						<% } %>
					</div>
					<% }); %>
				</div>
			</section>
			<section id="publications">
				<h2>Publications</h2>
				<div>
					<% _.forEach(publications, function(item) { %>
					<div class="item">
						<span class="authors">${ item.authors }</span>
						(<span class="year">${ item.year }</span>).
						<% if (item.journal) { %>
						<span class="title title-article">${ item.title }</span>.
						<% } else { %>
						<span class="title title-volume">${ item.title }</span>.
						<% } %>
						<% if (item.journal) { %>
						<span class="journal">${ item.journal }</span>
						<span class="volume">${ item.volume }</span><% if (item.issue) { %>(<span class="issue">${ item.issue }</span>)<% } %>:<span class="pages">${ item.pages.join('–') }</span>.
						<% } else { %>
						<span class="publisher">${ item.publisher }</span>.
						<span class="page-count">${ item.pageCount } pages.</span>
						<% } %>
						<% if (item.doi || item.isbn13 || item.isbn10 || item.asin) { %>
						<span class="identifiers">
						<% if (item.doi) { %>
						<a class="identifier" href="http://dx.doi.org/${ item.doi }">DOI: ${ item.doi }</a><% if (item.isbn13 || item.isbn10 || item.asin) { %>;<% } %>
						<% } %>
						<% if (item.isbn13) { %>
						<span class="identifier">ISBN-13: ${ item.isbn13 }</span><% if (item.isbn10 || item.asin) { %>;<% } %>
						<% } %>
						<% if (item.isbn10) { %>
						<span class="identifier">ISBN-10: ${ item.isbn10 }</span><% if (item.asin) { %>;<% } %>
						<% } %>
						<% if (item.asin) { %>
						<a class="identifier" href="https://www.amazon.com/dp/${ item.asin }">ASIN: ${ item.asin }</a>
						<% } %>
						</span>
						<% } %>
					</div>
					<% }); %>
				</div>
			</section>
			<section id="societies">
				<h2>Societies</h2>
				<div>
					<% _.forEach(societies, function(item) { %>
					<h5 class="item">
						<a href="${ item.url }" class="name">${ item.name }</a>
						<small>(<span class="title">${ item.title }</span>)</small>
					</h5>
					<% }); %>
				</div>
			</section>
			<section id="education">
				<h2>Education</h2>
				<div>
					<% _.forEach(education, function(item) { %>
					<div class="item">
						<h4>
							<span class="organization">${ item.organization }</span>
							<small class="graduation">Graduated ${ item.graduationQualifier } ${ item.graduation }</small>
						</h4>
						<span class="degree">${ item.degree }</span>
					</div>
					<% }); %>
				</div>
			</section>
			<section id="links">
				<h2>Further Links</h2>
				<ul>
					<% _.forEach(links, function(item) { %>
					<li class="item">
						<a href="${ item.url }" class="title">${ item.title }</a>
						<% if (item.type) { %><span class="type">(${ item.type })</span><% } %>
					</li>
					<% }); %>
				</ul>
			</section>
			<footer id="footer">
				<span class="name hidden-xs">
					${ person.name.given } ${ person.name.family }
				</span>
				<span class="address">
					<span class="locality">${ person.address.locality }</span>,
					<span class="region">${ person.address.region }</span>
				</span>
				<span class="email">
					<a href="mailto:${ person.email }">
						<em>${ person.email }</em>
					</a>
				</span>
			</footer>
	 	</div>
	</body>
</html>
