@import 'bootstrap/less/variables';
@import 'bootstrap/less/mixins';

body
{
	font-family: "Palatino Linotype", serif;
}

h1, h2, h3
{
	font-variant: small-caps;
	
	small
	{
		font-variant: normal;
	}
}

h5 small
{
	font-size: @font-size-h5;	
}

header
{
	border-bottom: 1px solid @text-color;	
	
	h1
	{
		font-weight: bold;
	}
	
	img
	{
		border: 1px solid @text-color;
	}
	
	.lead
	{
		font-style: italic;
	}
}

section
{
	margin-bottom: 1em;
	
	.clearfix();
	
	> h2
	{
		border-bottom: 1px solid @text-color;	
		font-weight: bold;
	}
	
	> .content
	{
		.make-row();
	}
	
	&#contact
	{
		border-bottom: 1px solid @text-color;	

		h2
		{
			display: none;
		}
		
		> .content
		{
			> span
			{
				.make-md-column(4);
				
				&:nth-child(2)
				{
					text-align: center;
				}
				&:nth-child(3)
				{
					text-align: right;
				}
			}
		}
		
	}

	&#objective
	{
		> .content
		{
			> p
			{
				font-size: @font-size-large;
				
				.make-md-column(12);
			}
		}
	}

	&#skills
	{
		.item
		{
			.make-md-column(12);
			.make-row();
			
			h3
			{
				font-size: @font-size-large;
				margin-top: 0;

				.make-md-column(3);
			}
			
			ul
			{
				.make-md-column(9);
			}
		}
	}
	
	&#experience
	{
		.item
		{
			margin-bottom: 1.25em;
			
			.make-md-column(12);
			.make-row();
			
			> .main
			{
				margin-bottom: 0.75em;
			
				.make-md-column(12);
				.make-row();

				> span
				{
					line-height: @font-size-large;

					.make-md-column(3);
					
					&.organization
					{
						font-style: italic;
					}
					
					&.no-organization
					{
						.make-md-column(6);
					}
					
					&.title
					{
						font-size: @font-size-large;
						font-variant: small-caps;
					}
				}
			}
			
			> ul
			{
				.make-md-column(12);
			}
		}
	}
	
	&#projects
	{
		.item
		{
			.name
			{
				font-style: italic;
				font-weight: bold;
			}
			.type
			{
				margin-left: 0.5em;
			}
		}
		
		.footnote
		{
			margin-top: 1em;
		}
	}
	
	
	&#publications
	{
		.item
		{
			margin-bottom: 1em;
			
			.authors
			{
				font-variant: small-caps;
			}
			
			.identifiers {
				font-style: italic;
			}

			.identifier
			{
				white-space: nowrap;
			}
			
			.journal
			{
				font-style: italic;
			}
			
			.title-volume {
				font-style: italic;
			}

			.volume
			{
				font-weight: bold;
			}
		}
	}
}

footer
{
	border-bottom: 1px solid @text-color;	
	border-top: 1px solid @text-color;	
	height: 1.8em;
	margin-bottom: 6em;

	> span
	{
		.make-md-column(4);
		
		@media (min-width: @screen-md-min)
		{
			&:nth-child(2)
			{
				text-align: center;
			}
			&:nth-child(3)
			{
				text-align: right;
			}
		}
	}
}
