<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
 		<meta name="description" content="Résumé for ${ person.name.given } ${ person.name.family }, ${ person.tagline }">
 		<meta name="author" content="${ person.name.given } ${ person.name.family } &lt;${ person.email }&gt;">
 		<!--<link rel="icon" href="../../favicon.ico">-->
	 	<title>${ person.name }</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	 	<![endif]-->
	</head>
	<body>
	 	<div class="container">
			<div class="jumbotron">
				<h1>${ person.name.given } ${ person.name.family }</h1>
				<p class="lead">${ person.tagline }</p>
			</div>
	 	</div>
	</body>
</html>
